@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Home/assetshome/paisahge.jpg);
  background-position: center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #ccc;
}
a:hover {
  color: #d819b2;
}

.contact-form {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px #aaa;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
 
  
}

.contact-form h2 {
  color: #d819b2;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
}

.form-group textarea {
  height: 95px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #d819b2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #970a68;
}
