.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .dropbtn i {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e662d0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #c05151;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    color: #d85883;
  }